/*  your css code here. If applicable */
* {
  background-color: #f5f5f5;
}
.header {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  background-color: #011e29;
  color: white;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header > h2 {
  background-color: #011e29;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 10px;
    margin-top: 10px;
}
.latest-news-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 0px;
  width: 200px;
  height: max-content;
  border-radius: 10px;
}
.latest-news-section > h3,
ul,
li {
  background-color: white;
}
.main-article-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 0px;
  width: 500px;
  height: max-content;
  border-radius: 10px;
}
.main-article-section > h3{
  background-color: white;
  font-size: 23px;
}
.main-article-section >
p {
  background-color: white;
}
.pictorial-news-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 0 20px 20px 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  height: max-content;
}
.pictorial-news-section>h3{
    background-color: white;
}
